.g-chose {
	width: 200px;
	float: left;

}

.panel-body:after {
	display: none
}

.g-content {
	margin-left : 200px;
}

.g-hide {
	display: none
}

.g-item {
	padding: 5px 10px
}

.g-item .u-avatar {
	float: left;
}
.g-item .g-info {
	margin-left : 100px;
	height: 30px
}
.g-item .g-info .u-time{
	float:left;
}

.g-item .g-info .u-nick{
	font-size: 120%;
	font-weight: bolder;
}

.g-item .g-info .u-opt{
	float:right;
	padding : 5px 10px;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	text-decoration: none
}

.g-item .g-info .u-opt:hover{
	background-color: #f0f0f0
}

.g-item .u-title {
	margin-left : 60px;
	text-align: center
}

.g-item .u-title a{
	text-decoration: none;
	font-size: 150%
}

.g-item .u-time {
	text-align: right
}

.g-item .u-content {
	margin-left : 100px;
	text-align: left;
}

.u-noitem {
	text-align: center
}

.a-fliker {
	display: inline-block;
	-webkit-animation: labelfliker 2s infinite;
	-moz-animation: labelfliker 2s infinite;
	animation: labelfliker 2s infinite;
}

.u-more {
	width: 100%;
	background-color: #428bca;
	color:#fff;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
}

.u-more:hover {
	background-color: #8f8f8f;
	color: #f0f0f0;
}

@-moz-keyframes labelfliker {
	0% {
		-moz-transform : scale(1);
	}
	50% {
		-moz-transform : scale(1.15);
	}
	100% {
		-moz-transform : scale(1);
	}
}

@-webkit-keyframes labelfliker {
	0% {
		-webkit-transform : scale(1);
	}
	50% {
		-webkit-transform : scale(1.15);
	}
	100% {
		-webkit-transform : scale(1);
	}
}

@keyframes labelfliker {
	0% {
		transform : scale(1);
	}
	50% {
		transform : scale(1.15);
	}
	100% {
		transform : scale(1);
	}
}

