doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
    block style

  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      div(class="container")
        div(class='navbar-header')
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='/index') 天镶的博客
            
        div(class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li
              a(href='/index') 首页
            li
              a(href='/article_list') 文章列表
            //- li
            //-   a(href='#') 图片墙
            //- li
            //-   a(href='#') 小玩意
            if user
              li
                a(href="/nor/userCenter") 个人中心
            //- li
            //-   a(href='#') 关于我
          ul(class='nav navbar-nav navbar-right')
            if user
              li(class="dropdown")
                a(href="#", class="dropdown-toggle", data-toggle="dropdown") #{user.nickname} 
                  b(class="caret")
                ul(class="dropdown-menu")
                  if user.owner
                    li
                      a(href="/nor/conf/article_write") 写新文章
                    li
                      a(href="/article_list") 管理文章
                  li
                    a(href="/nor/user_detail") 修改个人信息
                  li
                    a(href="/user_logout") 登出
            else
              li
                a(href='/user_loginPage') 登录

    block content

    div(class="footer") 
      hr
      p LingyuCoder 2013

    script(type='text/javascript', src='/javascripts/tools/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/javascripts/tools/bootstrap.min.js')

    block javascript
