extends layout

block style
  link(rel='stylesheet', href='/stylesheets/github.css')
  link(rel='stylesheet', href='/stylesheets/page/listArticle.css')
block content
  div(class="container")
    div(class="g-arts")
    div(class="u-panel u-more") 向下滚动加载更多

block javascript
  script(type='text/javascript', src='/javascripts/tools/highlight.pack.js')
  script(type='text/javascript', src='/javascripts/pageTools/User.js')
  script(type='text/javascript', src='/javascripts/pageTools/Article.js')
  script(type='text/javascript', src='/javascripts/page/listArticle.js')
  if user && user.owner
    script(type='text/javascript', src='/javascripts/page/listArticle_owner.js')