extends layout

block content
  div(class='container')
    h1
      strong 注册
    hr
    if message
      div(class="alert alert-danger") #{message}

    div(class="panel panel-default")
      div(class="panel-body")
        form(class="form-horizontal", method="post", action="/user_regist")
          div(class="form-group")
            label(for="inputUsername", class="col-sm-2 col-sm-offset-2 control-label") 用户名
            div(class="col-sm-5")
              input(type="text", name="username", class="form-control", id="inputUsername", placeholder="用户名")
          div(class="form-group")
            label(for="inputNickname", class="col-sm-2 col-sm-offset-2 control-label") 昵称
            div(class="col-sm-5")
              input(type="text", name="nickname", class="form-control", id="inputNickname", placeholder="昵称")
          div(class="form-group")
            label(for="inputPassword", class="col-sm-2 col-sm-offset-2 control-label") 密码
            div(class="col-sm-5")
              input(type="password", name="password", class="form-control", id="inputPassword", placeholder="填写密码")
          div(class="form-group")
            label(for="inputPassAgain", class="col-sm-2 col-sm-offset-2 control-label") 密码重复
            div(class="col-sm-5")
              input(type="password", name="passAgain", class="form-control", id="inputPassAgain", placeholder="再次填写密码")
          hr
          div(class="form-group")
            button(type="submit" class="col-sm-1 col-sm-offset-4 btn btn-success") 注册
            a(class="col-sm-offset-2 col-sm-1 btn btn-primary", href="user_loginPage") 登录
            
            