.admired{
	background-color: #f0f0f0
}

.b-admire-loading {
	background: url("/images/loading.gif") no-repeat;
	background-position: center;
	min-height: 32px;
	min-width: 32px
}

.g-admire-row {
	width: 100%;
	font-size: 14px;
}

.g-admire-row .g-info {
	display: block;
	height: 30px;
	margin-left : 100px;
	line-height: 30px;
}

.g-admire-row .g-info:after {
	display: table;
	clear: both;
	content: "";
}

.g-admire-row .g-info .u-nick{
	float: left;
	width: 50%;
	font-weight : bolder;
	font-size: large
}

.g-admire-row .g-info .u-time{
	float:right;
	width: 50%;
	text-align: right
}

.g-admire-row .u-comment {
	display: block;
	margin-left : 100px;
	margin-top : 10px;
	font-size: large;
	border: 2px dashed #8F8F8F;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px
}

.g-admire-row .u-avatar {
	float: left;
}

.g-admire-row .g-operate {
	margin-left: 100px;
	height: 25px;
}

.g-admire-row .g-operate:after {
	display: table;
	content: '';
	clear: both;
}

.g-admire-row .u-opt {
	float:right;
	margin-left : 10px;
	line-height: 14px;
	padding : 4px 6px;
	border-radius: 4px;
	cursor : pointer;
}

.g-admire-row .u-opt:hover {
	background-color: #f0f0f0;
}

.g-admire-row .u-opt{
	text-decoration: none;
	color:#333;
}
